<div class="jumbotron">
  <h1 class="display-4">Hi, buddy! Look at your body!</h1>
  <p class="lead">Add to our telegram channel and pumping up your body, your soul and your mind.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://t.me/ObeyBot" role="button"><%= Figaro.env.app_name %></a>
  </p>
</div>
