<div class="jumbotron">
  <h1 class="display-4">Hi, buddy! Look at your body!</h1>
  <p class="lead">Add to our telegram channel and pumping up your body, your soul and your mind.</p>
  <p class="lead">
    <%= link_to Figaro.env.telegram_bot_name, Figaro.env.telegram_bot_link, class: 'btn btn-primary btn-lg', target: '_blank' %>
  </p>
</div>
